.flex-container {
  display: -webkit-flex;
  display: flex;
  height: 400px;
  position: relative;
  background-color: #c40000;
  color: #fff;
}
.flex-container .flex-item {
  width: 150px;
  height: 75px;
  margin: 5px;
  background-color: #fff;
  color: #333;
}
.flex-container .taller-item {
  height: 220px;
}
.auto-height {
  height: auto;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex-direction-row-reverse {
  flex-direction: row-reverse;
}
.flex-direction-column {
  flex-direction: column;
}
.flex-direction-column-reverse {
  flex-direction: column-reverse;
}
.flex-justify-content-flex-end {
  justify-content: flex-end;
}
.flex-justify-content-center {
  justify-content: center;
}
.flex-justify-content-space-between {
  justify-content: space-between;
}
.flex-justify-content-space-around {
  justify-content: space-around;
}
.flex-align-items-flex-start {
  align-items: flex-start;
}
.flex-align-items-flex-end {
  align-items: flex-end;
}
.flex-align-items-center {
  align-items: center;
}
.flex-align-items-baseline {
  align-items: baseline;
}
.flex-align-items-baseline .flex-item {
  text-decoration: underline;
}
.flex-align-items-stretch {
  align-items: stretch;
}
.larger-font {
  font-size: 2em;
}
.flex-align-content-flex-end {
  align-content: flex-end;
}
.flex-align-content-center {
  align-content: center;
}
.flex-align-content-space-between {
  align-content: space-between;
}
.flex-align-content-space-around {
  align-content: space-around;
}
.flex-align-content-stretch {
  align-content: stretch;
}
