.flex-container {
  display: -webkit-flex;
  display: flex;
  height: 400px;
  position: relative;
  background-color: #c40000;
  color: #fff;
}
.flex-container .flex-item {
  width: 150px;
  height: 75px;
  margin: 5px;
  background-color: #fff;
  color: #333;
}
.flex-container .taller-item {
  height: 220px;
}
.auto-height {
  height: auto;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
