.auto-height {
  height: auto;
}
.larger-font {
  font-size: 1.6em;
}
.flex-container {
  display: -webkit-flex;
  display: flex;
  height: 400px;
  position: relative;
  background-color: #c40000;
  color: #fff;
}
.flex-container .flex-item {
  width: 150px;
  height: 75px;
  margin: 5px;
  background-color: #fff;
  color: #333;
}
.flex-container .taller-item {
  height: 220px;
}
.flex-container .shorter-item {
  width: 100px;
}
.flex-container .noMargin-withBorder {
  margin: 0;
  border: 1px solid #999;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex-direction-row-reverse {
  flex-direction: row-reverse;
}
.flex-direction-column {
  flex-direction: column;
}
.flex-direction-column-reverse {
  flex-direction: column-reverse;
}
.flex-justify-content-flex-end {
  justify-content: flex-end;
}
.flex-justify-content-center {
  justify-content: center;
}
.flex-justify-content-space-between {
  justify-content: space-between;
}
.flex-justify-content-space-around {
  justify-content: space-around;
}
.flex-align-items-flex-start {
  align-items: flex-start;
}
.flex-align-items-flex-end {
  align-items: flex-end;
}
.flex-align-items-center {
  align-items: center;
}
.flex-align-items-baseline {
  align-items: baseline;
}
.flex-align-items-baseline .flex-item {
  text-decoration: underline;
}
.flex-align-items-stretch {
  align-items: stretch;
}
.flex-align-self-flex-start {
  align-self: flex-start;
}
.flex-align-self-flex-end {
  align-self: flex-end;
}
.flex-align-self-center {
  align-items: center;
}
.flex-align-self-baseline {
  align-self: baseline;
}
.flex-align-self-baseline .flex-item {
  text-decoration: underline;
}
.flex-align-self-stretch {
  align-self: stretch;
}
.flex-align-content-flex-end {
  align-content: flex-end;
}
.flex-align-content-center {
  align-content: center;
}
.flex-align-content-space-between {
  align-content: space-between;
}
.flex-align-content-space-around {
  align-content: space-around;
}
.flex-align-content-stretch {
  align-content: stretch;
}
.flex-flex-none {
  flex: none;
}
.flex-flex-22auto {
  flex: 2 2 auto;
}
.flex-flex-11auto {
  flex: 1 1 auto;
}
.flex-flex-22175 {
  flex: 2 2 175px;
}
.flex-order3 {
  order: 3;
}
.flex-order1 {
  order: 1;
}
.flex-order-2 {
  order: -2;
}
